body {
    font-size: 1em;
    margin: 0;
}

header,
footer {
    display: block;
    margin: 0;
    padding: .3em 1em;
    width: 100%;
    color: white;
    background-image: url("/images/WebWindowTitleInactive.gif");
    position: fixed;
    border-bottom: 4px #9966ff ridge;
}

header {
    z-index: 5;
    top: 0px;
    border-bottom: 4px #96f ridge;
}

footer {
    z-index: 5;
    bottom: 0px;
    font-size: 0.8em;
    border-top: 4px #96f ridge;
}

header span,
footer span {
    color: white;
}

header span:first-child {
    font-weight: bold;
    float: left;
}

header span:last-child {
    float: right;
    margin-right: 2em;
}

footer ul {
    list-style: none;
    padding: 0.2em;
    margin: 0;
    border-top: 2px;
}

footer ul li:first-child {
    display: inline;
    margin-left: 1em;
    cursor: pointer;
    font-weight: bold;
    color: beige;
}

footer ul li {
    display: inline;
    margin-left: 2.5em;
}

@media only screen and (max-width: 600px) {
    footer ul li {
        display: block;
        margin-left: 1em;
    }
}

#page-name {
    text-transform: capitalize
}

#welcome-content {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    margin-left: 0.5em;
}

#main-window {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}

#menu {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 0;
    width: 8em;
    padding: 0.5em;
    position: fixed;
}

#menu select {
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
    background-color: #aff0ff;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 30% 60%;
    grid-gap: 2px;
    background-color: #ffffff;
    padding: 5px;
    margin-top: 1.5em;
    left: 0;
    width: 95%;
    height: 85%;
}

@media only screen and (max-width: 600px) {
    #menu {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    #main-window {
        grid-column: 1 / span 2;
        height: 600px;
        grid-row: 3 / span 1;
    }

    #welcome-content {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
}

.container>nav,
.container>div {
    background-color: #ffffff;
    text-align: left;
}

.container>div {
    margin: 1em 0em 3em 0em;
}

.home-content {
    text-align: left;
}

#canvas-container {
    z-index: 0;
    top: 0.5em;
    margin: 0 auto;
    width: 100%;
}

#star-system {
    padding: 0;
    margin: auto;
    display: block;
    border: 1px solid black;
}